{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image:  url('{% static "image/homepage.jpg" %}');
            background-size: 100% 100%;
            background-attachment: fixed;
            margin: 0;

        }


        .footer {
            width: 100%;
            border-top: 1px solid #ccc;
            text-align: center;
            padding: 10px 0;

            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }
    </style>
</head>

<body>
    {% include "blood/navbar.html" %}
    <br>


    <div class="footer" style="background-color: black; margin-top: -30px" >
        Blood Bank Management System &copy; 2023
    </div>
</body>

</html>
