{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="{% static "css/main.css" %}" rel="stylesheet" media="all">
     <link rel = "icon" href ="{% static "image/drop.jpg" %}"
        type = "image/x-icon">
  <style>


input{
    background-color: #E5E5E5;
}


.btn--radius-2 {
  border-radius: 5px;
  padding: 14px 40px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn--radius-2:hover {
  background: #e74c3c;
  color: #fff;
}

  </style>
</head>
<body>
  {% include "blood/navbar.html" %}

  <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
      <br><br><br>
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">PASSWORD RESET</h2>
        </div>
        <div class="card-body">
          <h2>Enter a new password</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn--radius-2 btn-danger" type="submit">Reset password</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "blood/footer.html" %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
